body {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
  margin-top: -50px;
}

h1 {
  margin-bottom: 0px;
}

a {
  text-decoration: none
}

.sidebar {
  float: right;

}

.content {
  margin-right: 25%;
}

.profile {
  width: 123px;
  height: 119px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.social {
  text-align: center;
}

.fa {
  color: #BBBBBB;
  width: 40px;
  height: 35px;
  margin-top: 15px;
  padding-top: 5px;
}

.fa:hover {
  color: #FFF;
  border-radius: 20%;
  text-shadow: #000 0.1em 0.1em 0.2em;
  box-shadow: 2px 2px 1px #999;
}

.fa-twitter:hover {
  background-color: #55acee;
}

.fa-linkedin:hover {
  background-color: #069;
}

.fa-facebook:hover {
  background-color: #3b5998;
}

.fa-github:hover {
  background-color: #000;
}

.fa-google-plus:hover {
  background-color: #d71e24;
}