body {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
  margin-top: -50px;
}

.sidebar {
  float: right;

}

.content {
  margin-right: 25%;
}

.profile {
  width: 123px;
  height: 119px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}