body {
  position: absolute;
  top: 25%;
  left: 5%;
  right: 5%;
  margin-top: -50px;
}


ul {
  padding:0px;
  margin:0px;
  list-style:none;
}

li{
  margin: 20px;
}

ul li {
  display: inline;
  padding: 2px 10px;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  text-align: center;
  color: #970000;
}

h3 {
  margin-left: 50px;
  margin-bottom: -10px;
  margin-top: 90px;
  padding-left: 110px;
  font-size: 15px;
}

h4 {
  font-size: 22px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 20px;
}

p {
  text-align: center;
  width: 650px;
  float: right;
  margin-left: 100px;
  padding-right: 85px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
} 

.sidebar {
  float: right;
  margin-bottom: 100%;
  padding-left: 50px;
}

.profile {
  width: 123px;
  height: 119px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.social {
  text-align: center;
}

.fa {
  color: #BBBBBB;
  width: 40px;
  height: 35px;
  margin-top: 15px;
  padding-top: 5px;
}

.fa:hover {
  color: #FFF;
  border-radius: 20%;
  text-shadow: #000 0.1em 0.1em 0.2em;
  box-shadow: 2px 2px 1px #999;
}

.fa-twitter:hover {
  background-color: #55acee;
}

.fa-linkedin:hover {
  background-color: #069;
}

.fa-facebook:hover {
  background-color: #3b5998;
}

.fa-github:hover {
  background-color: #000;
}

.fa-google-plus:hover {
  background-color: #d71e24;
}
.content {
  margin-left: 40px;
  font-size: 16px;
  color: #555;
  width: 850px
}

.user {
  margin-left: 5px
  font-size: 20px;
  color: rgb(32, 32, 32);
}

.tags {
  width: 250px
}

.tags ul {
  margin-top: 10px
}

.tags ul li {
  margin: 0px;
  line-height: 30px;
}